/* CSS for signupform index.html */
:root{
    --lightgreyBG: #f9FAFB;
    --inputBorder: #E5E7EB;
    --green: #596D48;
    --hoverGreen: rgb(120, 139, 90);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

@font-face{
    font-family: Norse;
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
}

body{
    display:flex;
    justify-content: center;
    background-color: black;
    height: 100%;
}

.bgimg{ 
    position: relative;
    width: calc(100vw / 2.5);
    height: 100vh;
    background: black url("/leafbg.avif") no-repeat;
    background-size: cover;
    background-position: -55px 0px;
}

    .logoimg{
        height: 125px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.449);
        position: absolute;
        top: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logoimg_img{
        height: 85%;
    }

    .logoimg_text{
        color: white;
        font-family: Norse, sans-serif;
        font-size: 4.95rem;
        padding: 5px 2px;
        margin-top: 25px;
    }

    .bgimg_credit{                  /*  CREDITS      */
        color: lightgrey;
        font-size: 0.7rem;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        bottom: 4%;
        left: 20%;
    }
         .bgimg_credit a{               
            color: lightgrey;
        }

        .bgimg p:last-of-type {
            bottom: 1%;
        }
/* ----------------------------------------------- */



.main {
    width: calc((100vw / 3 )*2);
    height: 100vh;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-kerning: none;
    font-weight: 500;
    font-size: 1.3rem;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
}
    .main_text{                 /* THIS IS NOT A REAL ONLINE... */
        background: var(--lightgreyBG);
        padding: 15% 15% 1% 40px;
        height: 36%;
        height: auto;
    }

    .main_text p{               /* YOU KNOW YOU WANT TO */
        margin-top: 20px;
        margin-bottom: 5%;
    }

    span {
        font-style: italic;
    }

    .main_form p {              /* LETS DO THIS */
        margin: 0px 0px 10px 10px;
    }

    .main_form{
        padding: 15px 30px;
        font-weight: normal;
        /* height: 29.5%; */
        height: auto;
        box-shadow: 5px 5px 5px 1px var(--inputBorder); 
        position: relative;
        z-index: 2;
    }

    form ul{
        display:flex;
        flex-wrap: wrap;
    }

    li {
        display:flex;
        flex-direction: column;
        margin-bottom: 3px;
     
    }

    label{
        font-size: 0.7rem;
        padding-left: 10px;
        margin: 10px 0px -3px;
    }

    input{
        margin: 6px 10px;
        padding: 0px 5px;
        width: 220px;

        height: 27px;
        border-radius: 3px;
        border: 1px solid var(--inputBorder);
    }

    input:nth-of-type(odd){
        margin-right: 50px;
    }

    input:hover, 
    input:-webkit-autofill:hover {
        box-shadow: 5px 5px 5px var(--inputBorder); 
    }

        input:valid{
            /* outline: 1px solid rgba(123, 194, 8, 0.62); */
        
             /* background: url("/check-mark.png");
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 195px; */
        }

        input:invalid{
            outline: 0.5px solid red;

            /* background: url("/cancel.png");
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: 195px; */
        }

        input.error{
            outline: 0.5px solid red;
        }

        input:focus, 
        input:-webkit-autofill:focus {
            outline: 0.5px solid rgb(37, 137, 237);
            box-shadow: 5px 5px 5px var(--inputBorder); 
        }

      span.validation{
        font-family: 'Roboto', sans-serif;
          color: rgb(170, 7, 7);
          font: normal 0.7rem Roboto;
          margin-left: 10px;
          margin-top: -5px;
                 
      }


    .main_submit{
        background: #f9FAFB;
        height: calc((100vh - 34%) - 30%);
 
        
                    /* 100vh - main_text - main_form  */
    }

    button {
        background: var(--green);
        box-shadow: 5px 5px 5px var(--inputBorder); 
        font-size: 0.95rem;
        font-weight: 500;
        padding: 12px 46px;
        color: white;
        border-radius: 5px;
        border: transparent;
        margin: 30px 40px;
        
    }

    button:hover{
        background: var(--hoverGreen);
    }
    .main_submit p{
        font-size: 1rem;
        font-weight: normal;
        padding-left: 40px;
    }

        .main_submit p a {
            color: var(--green);
            font-weight: bold;
            text-decoration: none;
        }

        .main_submit p a:hover{
            color: var(--hoverGreen);
        }



        /* -----------------MEDIA QUERIES -------------------------- */
     
/* @media screen and (min-width: 768px) and (max-width: 1023px){


    .main_text, .main_form, .main_submit{
        height: auto;
    }
    .main_submit{
        background: #e490e4;
 /* Need to add in height via JS: (100vh - height of main_text - height of main_form) 
                   
    }

    input:nth-of-type(odd){
        margin-right: 20px;
    }
} */






